# fly.toml app configuration file generated for black-store on 2026-02-03T21:55:02+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'black-store'
primary_region = 'arn'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 1000
    soft_limit = 500

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
